/*
   White     - #75F7EB
   Lite Blue - #409EC4
   Blue      - #3B377E
   Thin Dark - #220E96
   Dark Blue - #1C154B
*/
.button {
    -fx-background-color: #75F7EB;
    -fx-background-color: #409EC4;
    -fx-background-color: #3B377E;
    -fx-background-color: #220E96;
    -fx-background-color: #1C154B;
    -fx-background-color: #cbff9b;

    -fx-background-radius: 0, 0;

    -fx-border-color: #1C154B;
    -fx-border-width : 2;
    -fx-border-radius: 0;

    -fx-text-fill: #75F7EB;
    -fx-font-weight: bold;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 12px;
}